

menu "Firebase Utils Configuration"

    config FIREBASE_REFRESH_TOKEN
        string "Refresh Token"
        default ""
        help
            Refresh token is used to get the access token for the device. The token is used to authenticate the device with the Firebase sevice, such as Firestore, etc.
            For more info, see: https://github.com/wayinone/esp32-firebase-utils/blob/main/gcp_auth/README.md

            The refresh token can add JWT subject with the device ID as the subject. This is useful to identify the device in the Firebase database.
    
    config FIREBASE_PROJECT_ID
        string "Project ID"
        default ""
        help
            The project ID (or say, the project name) is used to identify the Firebase project. The project ID can be found in the Firebase project settings.

    config FIREBASE_API_KEY
        string "API Key"
        default ""
        help
            The API key is used to authenticate the device with the Firebase service. The API key is used to authenticate the device with the Firebase service, such as Firestore, etc.
            The API key can be found in the Firebase project settings. Note that the API key doesn't need to be kept secret, as it is always revealed when making requests to the Firebase service.
    
    config FIRESTORE_DB_ROOT
        string "Root Path that Contains the First Collection"
        default "databases/(default)/documents"
        help
            The Firestore database root contains the top-level collection in the Firestore database.
endmenu
