

menu "Firebase Utils Configuration"

    config USE_CONFIG_FOR_FIREBASE_REFRESH_TOKEN
        bool "Use Config for Firebase Auth Secrete"
        default n
        help
            If you want to use the config to store refresh token, please enable this option.            

        config FIREBASE_REFRESH_TOKEN
            string "Refresh Token"
            default ""
            depends on USE_CONFIG_FOR_FIREBASE_REFRESH_TOKEN
            help
                Optional: Refresh token is used to get the access token for the device. 
                If set this option, you can use NULL to replace the `refresh_token` parameter in the firebase_get_access_token_from_refresh_token function.
                The token is used to authenticate the device with the Firebase sevice, such as Firestore, etc.
                For more info, see: https://github.com/wayinone/esp32-firebase-utils/blob/main/gcp_auth/README.md

                The refresh token should add a JWT subject with a unique string, e.g. the device ID. This is useful to identify the device in the Firebase database.

        config FIREBASE_REFRESH_TOKEN_JWT_SUBJECT
            string "Refresh Token JWT Subject (Optional)"
            default ""
            depends on USE_CONFIG_FOR_FIREBASE_REFRESH_TOKEN
            help 
                Optional: This is not used in this component. However, this should be used in projects that include this component. Use this to set your firestore path provides developer a 
                convinent way to set a Firebase Security Rules. e.g. `request.auth.uid == <the JWT subject stored here>`
    
    config FIREBASE_PROJECT_ID
        string "Project ID"
        default ""
        help
            The project ID (or say, the project name) is used to identify the Firebase project. The project ID can be found in the Firebase project settings.

    config FIREBASE_API_KEY
        string "API Key"
        default ""
        help
            The API key is used to authenticate the device with the Firebase service. The API key is used to authenticate the device with the Firebase service, such as Firestore, etc.
            The API key can be found in the Firebase project settings. Note that the API key doesn't need to be kept secret, as it is always revealed when making requests to the Firebase service.
    
    config FIRESTORE_DB_ROOT
        string "Root Path that Contains the First Collection"
        default "databases/(default)/documents"
        help
            The Firestore database root contains the top-level collection in the Firestore database.
endmenu
